body {
    margin: 0;
}

#map { 
    height: 94vh;
    width: 100%;
    position: relative;
}

.itineraryData {
    width: 100%;
    background-color: #440239;
    color: white; 
    font-size: 12px;
    width: 90%;
    padding: 12px 20px;
    margin-left: 12px;
    margin: 2px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box
}

